<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table border="1"> 
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Brand</td>
            <td>Size</td>
            <td>Type</td>
            <td>Price</td>
            <td>Status</td>
        </tr>
        {% for i in slist %}
        <tr>
            <td>{{i.sId}}</td>
            <td>{{i.sName}}</td>
            <td>{{i.sBrand}}</td>
            <td>{{i.size}}</td>
            <td>{{i.sType}}</td>
            <td>{{i.price}}</td>
            <td>{{i.status}}</td>

         
        </tr>
        {% endfor%}
    </table>
</body>
</html>